/* line 1, scss/_compass-resets.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, scss/_compass-resets.scss */
html {
  line-height: 1;
}

/* line 26, scss/_compass-resets.scss */
ol, ul {
  list-style: none;
}

/* line 30, scss/_compass-resets.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 35, scss/_compass-resets.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 41, scss/_compass-resets.scss */
q, blockquote {
  quotes: none;
}

/* line 45, scss/_compass-resets.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 50, scss/_compass-resets.scss */
a img {
  border: none;
}

/* line 54, scss/_compass-resets.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 388, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.fw-m-bold {
  font-weight: 500;
}

/* line 393, ../../../ACEAssets/client/assets/scss/_mixins-Nov2018.scss */
.fw-b {
  font-weight: 700;
}

/** custom styles for Jefferies PS Canvas form Dialog**/
/* line 35, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer {
  height: 100% !important;
  width: 100% !important;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  -webkit-overflow-scrolling: touch;
}

/* line 53, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer.ui-draggable .ui-dialog-titlebar {
  cursor: default;
}

/* line 58, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .ui-dialog-title {
  color: #fff;
  display: block;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 8px;
}

/* line 73, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer header.cubeFaceFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2776bd !important;
  height: auto;
  min-height: 40px;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* line 83, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer header.cubeFaceFooter h1 {
  color: #fff;
  display: block;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
  white-space: nowrap;
  margin: 8px;
}

/* line 120, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer header.cubeFaceFooter .headerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/* line 128, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer header.cubeFaceFooter button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.9rem !important;
  font-weight: 500;
  color: #fff !important;
  height: 24px;
  line-height: 0.3;
  border-radius: 4px;
  background-color: #2776bd !important;
  padding: 8px 16px;
  margin: 4px;
  border: 1px solid #2776bd !important;
  white-space: nowrap;
}

/* line 143, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer header.cubeFaceFooter button:last-of-type {
  margin-right: 0;
}

/* line 162, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .powerCubeContent {
  width: 80%;
  padding: 16px;
  background-color: #fff;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 174, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer #topBanner {
  margin-bottom: 16px;
  color: #e53953;
  font-size: 13px;
}

/* line 181, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .section {
  background-color: #fff;
  margin-bottom: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 188, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .section h3 {
  font-size: 1rem;
  margin-bottom: 16px;
}

/* line 194, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .section a {
  text-decoration: none;
  color: #2776bd;
}

/* line 200, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .section .headerItem button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.8rem !important;
  font-weight: 500;
  color: #2776BD !important;
  height: 24px;
  line-height: 0.3;
  border-radius: 4px;
  background-color: #fff !important;
  padding: 8px 16px;
  margin-right: 8px;
  border: 1px solid #2776bd !important;
  margin-bottom: 16px;
}

/* line 214, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .section .headerItem button:last-of-type {
  margin-right: 0;
}

/* line 218, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .section .headerItem button:hover {
  background-color: #C4D9ED !important;
}

/* line 223, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .section .headerItem button:active {
  background-color: #9DC0E1 !important;
}

/* line 230, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .section .notesComponent .label {
  font-size: 0.8rem;
  font-weight: inherit;
  padding-left: 0;
}

/* line 238, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .section .customCubeContainer la-input,
.canvasFormDialog.customCubeContainer .section .customCubeContainer input[id="la-input"],
.canvasFormDialog.customCubeContainer .section input.ui-autocomplete-input,
.canvasFormDialog.customCubeContainer .section input {
  border: 1px solid #fff;
  background-color: #fff;
  padding: 4px 8px 4px 0 !important;
  border-radius: 4px;
  -webkit-appearance: none;
}

/* line 250, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .section .customCubeContainer la-input {
  max-width: 450px;
  height: 28px;
}

/* line 256, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .section .subSection .canvasRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* line 265, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .section .coverageWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

/* line 272, scss/ps/PS-Canvas-Page-Jefferies.scss 
.canvasFormDialog.customCubeContainer .section .label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
*/

/* line 278, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 282, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .label {
  color: #2776bd;
  margin: 0;
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: inherit;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 294, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 305, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .menuButtonContainer {
  margin-right: 8px;
  height: 24px;
}

/* line 311, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .editableLabelContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 316, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .control input,
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .control-indicator {
  top: 1;
}

/* line 322, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .control {
  padding-left: 1rem;
  width: auto;
}

/* line 327, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .dateTimePicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/* line 333, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .cubeComponentContainer .dateTimePicker input {
  font-size: 0.9rem !important;
}

/* line 338, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .hasDatepicker,
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem .ui-timepicker-input {
  font-family: "Roboto", sans-serif;
  padding-left: 25px!important;
}

/* line 346, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .ui-datepicker.ui-widget {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: #2776bd;
}

/* line 353, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .ui-datepicker-header {
  color: #2776bd !important;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
}

/* line 363, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .ui-datepicker-title {
  color: #2776bd;
  margin-top: 4px;
}

/* line 369, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .ui-datepicker-calendar {
  color: #2776bd !important;
}

/* line 374, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .ui-state-default.ui-state-active {
  border: 1px solid #2776bd;
  color: #2776bd !important;
}

/* line 380, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .ui-state-default.ui-state-highlight {
  border: 1px solid #2776bd;
  background: #2776bd;
}

/* line 386, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .ui-state-default.ui-state-hover {
  border: 1px solid #2776bd;
  color: #2776bd;
}

/* line 392, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem.address-picker {
  margin-bottom: 16px;
}

/* line 397, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .componentContainer.subSectionItem.idContainer {
  margin-bottom: 16px;
}

/* line 402, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .idContainer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 407, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .cubeComponentContainer,
.canvasFormDialog.customCubeContainer .full-name-wrapper,
.canvasFormDialog.customCubeContainer .dateContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 /* margin: 0 10px 0 0;*/
  width: 100%;
}

/* line 414, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .dateContainer input {
  margin-right: 8px;
  -webkit-appearance: none;
}

/* line 418, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .dateContainer input:last-of-type {
  margin-right: 0;
}

/* line 425, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .dateContainer input.hasDatepicker,
.canvasFormDialog.customCubeContainer .dateContainer input.ui-timepicker-input {
  background-size: 20px 20px !important;
  background-position: 4px !important;
  -webkit-appearance: none;
}

/* line 433, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .dateContainer input.hasDatepicker {
  background: url("../images/png/icon-calendar--default.png") no-repeat;
}

/* line 441, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .dateContainer input.hasDatepicker:focus {
  background: url("../images/png/icon-calendar--focus.png") no-repeat;
}

/* line 446, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .dateContainer input.hasDatepicker[disabled] {
  background: url("../images/png/icon-calendar--disabled.png") no-repeat;
}

/* line 453, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .dateContainer input.ui-timepicker-input {
  background: url("../images/png/icon-time--default.png") no-repeat;
}

/* line 461, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .dateContainer input.ui-timepicker-input:focus {
  background: url("../images/png/icon-time--focus.png") no-repeat;
}

/* line 466, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .dateContainer input.ui-timepicker-input[disabled] {
  background: url("../images/png/icon-time--disabled.png") no-repeat;
}

/* line 474, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer #addressFields .componentContainer.subSectionItem {
  margin-bottom: 8px;
}

/* line 481, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer #MailingAddressGoogleMap {
  margin-top: 16px;
}

/* line 486, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .header-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
}

/* line 493, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .instruction-text {
  font-size: .8rem;
  margin-bottom: 8px;
}

/* line 499, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .tab-panel-left-input-section {
  min-height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 509, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .tab-panel-right-header-section {
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #CDCDCD;
}

/* line 516, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .tab-panel-right-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 524, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .tab-panel-right-controls.control-hidden {
  display: none;
}

/* line 531, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .menuButton {
  color: #757575;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  font-family: "Arial", sans-serif !important;
  font-size: 0.8rem;
  height: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: url("../images/png/icon-arrow_down--default.png");
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-color: #FFF;
  padding: 2px 20px 2px 8px !important;
  text-align: left;
  cursor: pointer;
  line-height: 0;
}

/* line 555, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .menuButton:hover {
  border: 1px solid #8DA7C5;
  background-image: url("../images/png/icon-arrow_down--hover.png");
}

/* line 561, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .menuButton:focus, .canvasFormDialog.customCubeContainer .menuButton:active {
  border: 1px solid #2776BD;
  background-image: url("../images/png/icon-arrow_down--focus.png");
}

/* line 567, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .menuButton[disabled] {
  border: 1px solid #D8D8D8;
  color: #999;
  background-image: url("../images/png/icon-arrow_down--disabled.png");
  cursor: auto;
}

/* line 588, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .menuButtonContainer:focus {
  outline: none;
  border: 0px solid white;
  background-color: #FFF;
}

/* line 595, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer la-input,
.canvasFormDialog.customCubeContainer la-textarea,
.canvasFormDialog.customCubeContainer la-lookup {
  height: 24px;
  max-width: 280px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 8px;
  border-color: #fff !important;
  -webkit-appearance: none;
}

/* line 605, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer la-input div[id="la-input-underline"],
.canvasFormDialog.customCubeContainer la-textarea div[id="la-input-underline"],
.canvasFormDialog.customCubeContainer la-lookup div[id="la-input-underline"] {
  display: none;
}

/* line 612, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer la-input.la-input-highlighted,
.canvasFormDialog.customCubeContainer la-textarea.la-input-highlighted,
.canvasFormDialog.customCubeContainer la-lookup.la-input-highlighted {
  border-color: #fff;
  color: #2776bd;
  -webkit-appearance: none;
}

/* line 621, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer la-input #la-input-underline,
.canvasFormDialog.customCubeContainer la-textarea #la-input-underline,
.canvasFormDialog.customCubeContainer la-lookup #la-input-underline {
  color: #2776bd;
}

/* line 629, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer input[id="la-input"], .canvasFormDialog.customCubeContainer input[type="text"], .canvasFormDialog.customCubeContainer .address-editor input {
  color: #757575;
  border-radius: 4px;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.9rem;
  height: 24px;
  width: 100%;
  min-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px 16px 2px 16px;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin: 0;
  text-indent: 0 !important;
  line-height: 1.5;
  -webkit-appearance: none;
}

/* line 655, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer input[id="la-input"]:hover, .canvasFormDialog.customCubeContainer input[type="text"]:hover, .canvasFormDialog.customCubeContainer .address-editor input:hover {
  border: 1px solid #fff;
  color: #2776bd;
}

/* line 661, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer input[id="la-input"]:active, .canvasFormDialog.customCubeContainer input[id="la-input"]:focus, .canvasFormDialog.customCubeContainer input[type="text"]:active, .canvasFormDialog.customCubeContainer input[type="text"]:focus, .canvasFormDialog.customCubeContainer .address-editor input:active, .canvasFormDialog.customCubeContainer .address-editor input:focus {
  border: 1px solid #fff !important;
  color: #2776bd;
}

/* line 688, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer la-input.right-panel-filter input, .canvasFormDialog.customCubeContainer la-input.tab-panel-left-filter input {
  padding: 2px 16px 2px 24px;
  background: url("../images/png/icon-filter--default.png") no-repeat center left 4px !important;
}

/* line 692, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer la-input.right-panel-filter input:hover, .canvasFormDialog.customCubeContainer la-input.tab-panel-left-filter input:hover {
  background: url("../images/png/icon-filter--hover.png") no-repeat center left 4px !important;
}

/* line 697, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer la-input.right-panel-filter input:active, .canvasFormDialog.customCubeContainer la-input.tab-panel-left-filter input:active {
  background: url("../images/png/icon-filter--focus.png") no-repeat center left 4px !important;
}

/* line 702, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer la-input.right-panel-filter input:focus, .canvasFormDialog.customCubeContainer la-input.tab-panel-left-filter input:focus {
  background: url("../images/png/icon-filter--focus.png") no-repeat center left 4px !important;
}

/* line 711, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .ui-dialog-buttonpane {
  background-color: #eeeeee;
  border: none;
  border-top: 1px solid #dddddd;
  margin-top: 16px !important;
  padding: 0;
}

/* line 718, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .ui-dialog-buttonpane la-ripple {
  display: none;
}

/* line 725, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .ui-dialog-buttonset .cancelButton {
  background-color: transparent;
  border-color: transparent !important;
}

/* line 746, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid {
  border: 1px solid #b7bfc8;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 180px;
}

/* line 754, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-cell.dataGridCheckboxColumn .control-indicator {
  top: 3px;
  left: 4px;
}

/* line 764, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-cell input[type="checkbox"] {
  margin-left: 0;
  margin-top: 5px;
}

/* line 770, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default {
  color: #1B87c9;
  border: 1px solid #eeeeee;
  border-left: 0px;
  background: #eeeeee;
  background-image: none;
  font-weight: 500;
  cursor: pointer;
}

/* line 782, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column {
  color: #484848;
  border: 1px solid #b7bfc8;
  border-top: 0px;
  border-left: 0px;
  background: #e2e2e2;
  background-image: none;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

/* line 795, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column .massMax, .canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column .massMin {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  background-size: 16px 16px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

/* line 807, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column span.slick-sort-indicator.slick-sort-indicator-asc,
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column span.slick-sort-indicator.slick-sort-indicator-desc {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 822, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column .slick-sort-indicator-desc {
  background-image: url("../images/png/icon-sort-down--default.png") !important;
}

/* line 827, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column .slick-sort-indicator-asc {
  background-image: url("../images/png/icon-sort-up--default.png") !important;
}

/* line 832, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:hover {
  color: #484848;
  border: 1px solid #b7bfc8;
  border-left: 0px;
  border-top: 0px;
  background: #cdcdcd;
  font-weight: 500;
  cursor: pointer;
}

/* line 841, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:hover .slick-sort-indicator-desc {
  background-image: url("../images/png/icon-sort-down--focus.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 856, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:hover .slick-sort-indicator-asc {
  background-image: url("../images/png/icon-sort-up--focus.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 873, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:hover .massMax {
  background-image: url("../images/png/chevron_expand--active.png") !important;
}

/* line 878, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:hover .massMin {
  background-image: url("../images/png/chevron_collapse--active.png") !important;
}

/* line 885, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:active {
  color: #ffffff;
  border: 1px solid #1B87c9;
  border-left: 0px;
  border-top: 0px;
  background: #1B87c9;
  font-weight: 500;
  cursor: pointer;
}

/* line 894, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:active .slick-sort-indicator-desc {
  background-image: url("../images/png/icon-sort-down--focus_FFF.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 909, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header-column:active .slick-sort-indicator-asc {
  background-image: url("../images/png/icon-sort-up--focus_FFF.png") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px !important;
  width: 16px !important;
  height: 100% !important;
  margin-left: 11px !important;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  position: relative;
}

/* line 929, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .ui-state-default.slick-header.slick-header-left {
  border-bottom: none;
}

/* line 934, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-cell {
  font-size: 0.8rem;
  color: #484848;
  border: 1px solid transparent;
  background-color: transparent;
  border-right: 1px solid #B7BFC8;
  border-bottom: 1px solid #B7BFC8;
  background-color: #fff;
  line-height: 22px;
  position: absolute;
  z-index: 1;
  padding: 1px 2px 2px 2px;
  margin: 0;
  cursor: default;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}

/* line 966, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-cell input.del {
  width: 100% !important;
  height: 22px !important;
  display: block;
  background-size: 16px 16px !important;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  cursor: pointer;
  font-size: 0%;
}

/* line 981, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-row:hover .slick-cell {
  color: #484848;
  border: 1px solid transparent;
  border-right: 1px solid #B7BFC8;
  border-bottom: 1px solid #B7BFC8;
  background-color: #f2f2f2;
  display: block !important;
  background-size: 16px 16px !important;
}

/* line 990, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-row:hover .slick-cell .control-indicator {
  border: 1px solid #2776bd;
}

/* line 997, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-row:hover .slick-cell.dataGridHoverCell:hover {
  background-color: #fff;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  color: #484848;
  cursor: pointer;
}

/* line 1014, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-row:active .slick-cell,
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-cell.selected,
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-row:hover .selected {
  color: #484848;
  border: 1px solid #b7bfc8;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  background-color: #d4e4f2;
}

/* line 1024, scss/ps/PS-Canvas-Page-Jefferies.scss */
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-row:active .slick-cell .control-indicator,
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-cell.selected .control-indicator,
.canvasFormDialog.customCubeContainer .aceDataGrid .slick-row:hover .selected .control-indicator {
  border: 1px solid #2776bd;
}

@media (max-width: 780px) {
  /* line 1048, scss/ps/PS-Canvas-Page-Jefferies.scss */
  .canvasFormDialog.customCubeContainer .powerCubeContent {
    width: 100%;
    padding: 16px;
    background-color: #fff;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 600px) {
  /* line 1068, scss/ps/PS-Canvas-Page-Jefferies.scss */
  .canvasFormDialog.customCubeContainer .full-name-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* line 1072, scss/ps/PS-Canvas-Page-Jefferies.scss */
  .canvasFormDialog.customCubeContainer .full-name-wrapper la-input {
    width: 100%;
    margin-bottom: 8px;
  }
}

@media (max-width: 480px) {
  /* line 1085, scss/ps/PS-Canvas-Page-Jefferies.scss */
  .powerCubeContent {
    padding: 16px 8px;
  }
  /* line 1090, scss/ps/PS-Canvas-Page-Jefferies.scss */
  .cubeComponentContainer textarea {
    width: 80% !important;
  }
}

/* line 1108, scss/ps/PS-Canvas-Page-Jefferies.scss */
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.warningDialog,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.faultHandlerDialog {
  font-family: "Roboto", sans-serif;
  padding: 0;
  border: 0px solid #fff;
}

/* line 1116, scss/ps/PS-Canvas-Page-Jefferies.scss */
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.warningDialog .ui-dialog-titlebar,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.faultHandlerDialog .ui-dialog-titlebar {
  text-align: center;
  color: #515151;
  font-weight: 700;
  border-bottom: 1px solid #fff;
  font-size: 0.9rem;
}

/* line 1125, scss/ps/PS-Canvas-Page-Jefferies.scss */
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.warningDialog .ui-dialog-titlebar-close,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.faultHandlerDialog .ui-dialog-titlebar-close {
  display: none;
}

/* line 1130, scss/ps/PS-Canvas-Page-Jefferies.scss */
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.warningDialog .ui-dialog-content,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.faultHandlerDialog .ui-dialog-content {
  font-size: 0.8rem;
  padding: 8px 12px 16px 12px;
  text-align: center;
}

/* line 1137, scss/ps/PS-Canvas-Page-Jefferies.scss */
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.warningDialog .ui-dialog-buttonpane.ui-widget-content,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.faultHandlerDialog .ui-dialog-buttonpane.ui-widget-content {
  margin-top: 16px;
  padding: 0px;
  border-top: 0px solid #fff;
}

/* line 1142, scss/ps/PS-Canvas-Page-Jefferies.scss */
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.warningDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.faultHandlerDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset {
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 1147, scss/ps/PS-Canvas-Page-Jefferies.scss */
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.warningDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset .confirmButton,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.warningDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset .cancelButton,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.warningDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset .faultOKButton,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.warningDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset .faultDetailsButton,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.faultHandlerDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset .confirmButton,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.faultHandlerDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset .cancelButton,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.faultHandlerDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset .faultOKButton,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.faultHandlerDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset .faultDetailsButton {
  margin: 0 !important;
  border: 0px solid #eee !important;
  border-top: 1px solid #999 !important;
  background-color: #eee !important;
  border-radius: 0px;
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}

/* line 1160, scss/ps/PS-Canvas-Page-Jefferies.scss */
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.warningDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset .confirmButton,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.faultHandlerDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset .confirmButton {
  border-right: 1px solid #999 !important;
}

/* line 1164, scss/ps/PS-Canvas-Page-Jefferies.scss */
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.warningDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset .confirmButton .ui-button-text,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.warningDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset .cancelButton .ui-button-text,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.faultHandlerDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset .confirmButton .ui-button-text,
.ui-dialog.ui-widget.ui-widget-content.ui-draggable.faultHandlerDialog .ui-dialog-buttonpane.ui-widget-content .ui-dialog-buttonset .cancelButton .ui-button-text {
  color: #2776bd;
}

.dateTimePicker{
  width: 100%;
}

.relatedList .relatedItemFieldContainer.cubeComponentContainer .required input[id="la-input"], 
.relatedList .relatedItemFieldContainer.cubeComponentContainer .required input,
.relatedList .relatedItemFieldContainer.cubeComponentContainer .required .menuButton,
.relatedList .relatedItemFieldContainer.cubeComponentContainer .required input.ui-autocomplete-input {
  border-left: red 3px solid !important;
}

/* custom toast since the product toast doesn't do durations */

#dynamicToast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
}

#dynamicToast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.relatedListContainer{
  flex-direction: column;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-appearance: none;
  -webkit-overflow-scrolling: touch!important;
}

.relatedListContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #F5F5F5;
}

.relatedListContainer::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #F5F5F5;
  -webkit-overflow-scrolling: auto;
  -webkit-appearance: none;
}

.relatedListContainer::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #2776bd;  
}