<div>
    <apex-import name="c__DynamicRecordPageControllerPage"/>
    
    <div class="loadingContainerWrapper" data-aml-properties='{
        "controllers": [
        {
            "controller": "extensions:DynamicPageController"
        }
        ]
    }'/>
</div>