<apex:page applyHtmlTag="false" applyBodyTag="false" showHeader="false" sidebar="false" cache="false" standardStylesheets="false" controller="DynamicRecordPageController">
<html>
    <body>
        <script src="{!URLFOR($Resource.T1C_Base__ACECoreLib, '/src/ace-controllerimporter.js')}"></script>
        <script>
            (function()
            {
                // start the connector                    
                ACE.ControllerConnector.start();                    
            })();
        </script>
    </body>
</html>
</apex:page>